/* App.css */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
  background-color: beige;
}

.ProfilePhoto img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}

.FullName h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.Address p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}
